<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document N</title>
</head>
<body>
<script>


    function sendMessageToParent() {
        const message = {{ response|raw }};

        // console.log("backned log window.parent", window.parent)
        // Ana sayfaya mesaj gönderme
        window.parent.postMessage(
            message,
            "*"
        );  // Ana sayfanın URL'si burada belirtilmeli
    }

    sendMessageToParent();
</script>
</body>
</html>
